body {
	background-color: #333;
	font-family: Trebuchet, Helvetica, sans-serif; 
}
h1 {
	font-weight: lighter;
	font-size: 1.8em;
	float: right;
	color: #eee;
	margin-right: 50px;
}
#calculator {
	width: 310px;
	position: relative;
	margin: auto;
	margin-bottom: 0;
	clear: right;
}
button {
	font-size: 2.25em;
	font-weight: lighter;
	color: #000;
	background-color: #d0d0d0; 
	border: none;
	height: 75px;
	width: 75px;
	margin: 1px;
	float: left;
}
button.digit:hover {
	color: #fff;
}
button.digit:active {
	background-color: #606060;
}
button.operators:active,
button#equals:active {
	background-color: #7d2424;
}
button.operators:hover,
button.top-row:hover,
button#equals:hover {
	color: #000;
}
button.top-row:active {
	background-color: #2a445f;
}
button#zero {
	width: 152px;
}
#seven,
#four,
#one,
#zero {
	clear: left;
}
button.operators,
button#equals {
	/*  blue  */
	/*background-color: #036597;*/
	/*  iOS orange  */
	/*background-color: #e27900;*/
	/*  red  */
	background-color: #c03838;
	color: #fff;
}
button.top-row {
	/*background-color: #a0a0a0;*/
	/*  blue  */
	background-color: #406992;
	color: #fff;
}
input {
	font-size: 1.5em;
	font-weight: lighter;
	color: #fff;
	background-color: #444;
	border: solid 2px #333;
	line-height: 2em;
}
input#input-1 {
	width: 138px;
	text-align: right;
	padding-right: 10px;
}
input#input-2 {
	width: 34px;
	text-align: center;
}
input#input-3 {
	width: 138px;
	text-align: right;
	padding-right: 10px;
}
form {
	margin-bottom: 2px;
}