body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

header {
	max-width: 800px;
	margin: auto;
}

main {
	max-width: 800px;
	margin: auto;
	text-align: center;
}

h1,
h2 {
	margin-bottom: 12px;
}

p {
	margin: 10px 0;
}

ul {
	padding: 0;
	list-style: none;
	text-align: left;
}

.container {
	margin: 0 3vw;
}

.choices {
	text-align: center;
	min-height: 36px;
	width: 100%;
	padding: 0;
	margin: 0 auto 5px auto;
}

.choices button {
	height: 44px;
	width: 32.3%;
	font-size: 2em;
	color: #fff;
	background-color: #07b;
	border: none;
	border-radius: 7px;
	padding: 0 5px 4px 5px;
}

.digit-box {
	min-height: 40px;
	max-width: 800px;
	margin-bottom: 10px;
}

.digit,
.operator {
	position: relative;
	font-family: 'Lucida Console', monospace;
	font-size: 3em;
	text-align: center;
	height: 40px;
	border: none;
	padding: 0;
}

.digit {
	width: 30px;
}

.operator {
	width: 28px;
}

.solutions li {
	font-family: 'Lucida Console', monospace;
	margin: 5px 0;
}

.attempts li {
	font-family: 'Lucida Console', monospace;
	list-style: none;
	margin-bottom: 5px;
}

.symbol {
	background-color: #eee;
	font-weight: bold;
	padding: 2px 7px;	
}

.success {
	background-color: #e8ffd1;
	color: #360;
}

.info {
	background-color: #eee;
	color: #444;
}

.fail {
	background-color: #f8e8d8;
	color: #c60;
}

.underlined {
	border-bottom: 3px solid #07b;
}

.hidden {
	display: none;
}

.row {
	width: 100%;
}

.attempts,
.solutions {
	float: left;
	width: 100%;
	text-align: left;
}

.digit:last-child {
	min-width: 90px;
}

#equals {
	border: none;
	background-color: #07b;
	color: #fff;
	font-size: 2em;
	height: 44px;
	width: 100%;
	border-radius: 7px;
	margin-bottom: 5px;
}

#message {
	min-height: 40px;
	font-size: 1.5em;
	line-height: 40px;
	border-radius: 7px;
}

#reset {
	border: none;
	background-color: #fff;
	color: #07b;
	font-size: 1.1em;
	height: 44px;
	width: 100%;
	box-sizing: border-box;
	border: 3px solid #07b;
	border-radius: 7px;
}

#concat {
	padding-bottom: 3px;
}

@media (min-width: 768px), (orientation: landscape) {
	.choices {
		width: 60%;
	}

	.underlined {
		border-bottom: 4px solid #07b;
	}

	.attempts,
	.solutions {
		width: 50%;
	}

	#reset {
		width: 60%;
	}

	#equals {
		width: 60%;
	}
}
