body {
	position: relative;
	margin: 0;
	background-color: #333;
	font-family: Avenir, sans-serif;
}

header,
section	{
	position: relative;
	min-height: 100vh;
}

.page-header {
	position: absolute;
	top: 35vh;
	left: 0;
	right: 0;
	padding: 0;
	margin: auto;
	border: none;
	color: #fff;
	text-align: center;
	z-index: 999;
}

.page-header h1 {
	font-size: 2.75em;
	font-weight: normal;
}

.page-header ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}

.page-header li {
	display: inline-block;
	padding: 0 15px;
}

.page-header a {
	color: #fff;
	text-decoration: none;
}

#header-img {
	width: 100vw;
	z-index: -999;
	opacity: 0.5;
}

#work {
	background-color: #333;
	color: #fff;
}

#cv {
	background-color: #fff;
	color: #333;
}

#contact {
	background-color: #aaa;
	color: #333;
}

@media (min-width: 640px) {
	.page-header h1 {
		font-size: 3.25em;
	}	
}

@media (min-width: 790px) {

	.page-header h1 {
		font-size: 4em;
	}

	.page-header li {
		padding: 0 30px;
	}

	.page-header a {
		font-size: 1.2em;
	}
}

@media (min-width: 1024px) {
	
	.page-header h1 {
		font-size: 5em;
	}

	.page-header li {
		padding: 0 50px;
	}

	.page-header a {
		font-size: 1.33em;
	}
}
