html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f4f0;
	background-image: url(/img/mdc.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	display: inline;
	font-size: 3vmin;
}

h1>a {
	color: #5f5f40;
	padding: 2%;
}

div.home {
	position: relative;
	height: 100vh;
	width: 100%;
	text-align: center;
	margin: auto;
}

div.container-fluid {
	padding-top: 10px;
	margin-top: 10px;
}

ul {
	list-style: none;
	color: #ccc;
	font-size: 7vmin;
	padding: 0;
}

li {
	color: #5f5f40;
	display: inline;
	list-style: none;
	position: relative;
}

li.other-verbs {
	color: #ccc;
}

a {
	color: #5f5f40;
}

a.fa {
	padding-right: 12px;
}
	
a:hover {
	color: #189f18;
	text-decoration: none;
}

.icon-holder {
	display: inline;
	position: relative;
	float: right;
	font-size: 1.5em;
}

.centered {
	text-align: center;
}

li[data-id='1'] {
	position: relative;
	width: 0;
	top: 1100px;
	left: 1200px;
}

li[data-id='2'] {
	position: relative;
	width: 0;
	top: -1700px;
	left: 1700px;
}

li[data-id='3'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -1600px;
}

li[data-id='4'] {
	position: relative;
	width: 0;
	top: -700px;
	left: -1800px;
}

li[data-id='5'] {
	position: relative;
	width: 0;
	top: 1000px;
	left: -1500px;
}

li[data-id='6'] {
	position: relative;
	width: 0;
	top: -700px;
	left: 1100px;
}

li[data-id='7'] {
	position: relative;
	width: 0;
	top: 702px;
	left: -1550px;
}
li[data-id='8'] {
	position: relative;
	width: 0;
	top: -1800px;
	left: 1500px;
}
li[data-id='9'] {
	position: relative;
	width: 0;
	top: -700px;
	left: 1700px;
}
li[data-id='10'] {
	position: relative;
	width: 0;
	top: 1200px;
	left: 1300px;
}
li[data-id='11'] {
	position: relative;
	width: 0;
	top: -900px;
	left: -1500px;
}
li[data-id='12'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -800px;
}
li[data-id='13'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 1500px;
}
li[data-id='14'] {
	position: relative;
	width: 0;
	top: 200px;
	left: -1550px;
}
li[data-id='15'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 1600px;
}
li[data-id='16'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -1800px;
}
li[data-id='17'] {
	position: relative;
	width: 0;
	top: -300px;
	left: 1400px;
}
li[data-id='18'] {
	position: relative;
	width: 0;
	top: 1600px;
	left: -1100px;
}
li[data-id='19'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 1300px;
}
li[data-id='20'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -1400px;
}
li[data-id='21'] {
	position: relative;
	width: 0;
	top: -750px;
	left: 400px;
}
li[data-id='22'] {
	position: relative;
	width: 0;
	top: 300px;
	left: -1300px;
}
li[data-id='23'] {
	position: relative;
	width: 0;
	top: 700px;
	left: 1500px;
}
li[data-id='24'] {
	position: relative;
	width: 0;
	top: -900px;
	left: -1500px;
}
li[data-id='25'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 400px;
}
li[data-id='26'] {
	position: relative;
	width: 0;
	top: 650px;
	left: -200px;
}
li[data-id='27'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -1300px;
}
li[data-id='28'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 250px;
}
li[data-id='29'] {
	position: relative;
	width: 0;
	top: 900px;
	left: -1100px;
}
li[data-id='30'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 2000px;
}
li[data-id='31'] {
	position: relative;
	width: 0;
	top: 100px;
	left: 1200px;
}
li[data-id='32'] {
	position: relative;
	width: 0;
	top: -900px;
	left: 1500px;
}

.placard {
	width: 90%;
	position: relative;
	top: 50px;
}

#borges {
	color: #808080;
	font-size: 1.6em;
	border-left: 5px solid #d0d0d0;
	width: 100%;
	margin: auto;
}
