html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f4f0;
	background-image: url(/img/mdc.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

h1 {
	display: inline;
	padding-left: .5em;
	font-size: 2.5vmax;
}

h1>a {
	color: #5f5f40;
}

div.home {
	position: relative;
	height: 100vh;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	margin: auto;
}

div.page-header {
	margin: 25px 15px 20px 15px;
}

ul {
	list-style: none;
	color: #ccc;
	font-size: 3.75vmax;
	padding: 0;
	word-spacing: .5em;
}

li {
	color: #5f5f40;
	display: inline;
	list-style: none;
	position: relative;
}

li.other-verbs {
	color: #ccc;
}

a {
	color: #5f5f40;
}

a.fa {
	padding-right: .5em;
}
	
a:hover {
	color: #189f18;
	text-decoration: none;
}

.icon-holder {
	display: inline;
	position: relative;
	float: right;
	font-size: 3vmax;
	top: 2px;
}

.centered {
	text-align: center;
}

li[data-id='1'] {
	position: relative;
	/*top: 1100px;*/
	left: 1900px;
}

li[data-id='2'] {
	position: relative;
	/*top: -1700px;*/
	left: 1700px;
}

li[data-id='3'] {
	position: relative;
	/*top: 900px;*/
	left: -1600px;
}

li[data-id='4'] {
	position: relative;
	/*top: -700px;*/
	left: 1800px;
}

li[data-id='5'] {
	position: relative;
	/*top: 1000px;*/
	left: -1500px;
}

li[data-id='6'] {
	position: relative;
	/*top: -700px;*/
	left: 1100px;
}

li[data-id='7'] {
	position: relative;
	top: -1400px;
}
li[data-id='8'] {
	position: relative;
	top: 1800px;
}
li[data-id='9'] {
	position: relative;
	top: -1300px;
}
li[data-id='10'] {
	position: relative;
	top: 1200px;
}
li[data-id='11'] {
	position: relative;
	top: -1500px;
}
li[data-id='12'] {
	position: relative;
	top: 1700px;
}
li[data-id='13'] {
	position: relative;
	top: -1100px;
}
li[data-id='14'] {
	position: relative;
	top: 1200px;
}
li[data-id='15'] {
	position: relative;
	top: -1000px;
}
li[data-id='16'] {
	position: relative;
	top: 1200px;
}
li[data-id='17'] {
	position: relative;
	top: -1500px;
}
li[data-id='18'] {
	position: relative;
	top: 1600px;
}
li[data-id='19'] {
	position: relative;
	top: -900px;
}
li[data-id='20'] {
	position: relative;
	top: 960px;
}
li[data-id='21'] {
	position: relative;
	top: -1250px;
}
li[data-id='22'] {
	position: relative;
	top: 1100px;
}
li[data-id='23'] {
	position: relative;
	top: -1200px;
}
li[data-id='24'] {
	position: relative;
	top: 1050px;
}
li[data-id='25'] {
	position: relative;
	top: -900px;
}
li[data-id='26'] {
	position: relative;
	top: 1500px;
}
li[data-id='27'] {
	position: relative;
	top: -900px;
}
li[data-id='28'] {
	position: relative;
	top: 1000px;
}
li[data-id='29'] {
	position: relative;
	top: -1100px;
}
li[data-id='30'] {
	position: relative;
	top: 900px;
}
li[data-id='31'] {
	position: relative;
	top: -1000px;
}
li[data-id='32'] {
	position: relative;
	top: 900px;
}
li[data-id='33'] {
	position: relative;
	top: -1800px;
}
li[data-id='34'] {
	position: relative;
	top: 1000px;
}
li[data-id='35'] {
	position: relative;
	top: -1100px;
}
li[data-id='36'] {
	position: relative;
	top: 1400px;
}
li[data-id='37'] {
	position: relative;
	top: -1200px;
}
li[data-id='38'] {
	position: relative;
	top: 1300px;
}
li[data-id='39'] {
	position: relative;
	top: -1500px;
}
li[data-id='40'] {
	position: relative;
	top: 1600px;
}
li[data-id='41'] {
	position: relative;
	top: -1200px;
}

.placard {
	width: 90%;
	position: relative;
	top: 50px;
}

#borges {
	color: #808080;
	font-size: 1.6em;
	border-left: 5px solid #d0d0d0;
	width: 100%;
	margin: auto;
}
