html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f4f0;
	background-image: url(/img/mdc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-size: 2em;
}

h1>a {
	color: #808080;
	padding: 2%;
}

h1>a:hover {
	color: #704828;
}

div.home {
	text-align: center;
	position: relative;
	width: 75%;
	top: 100px;
	margin: auto;
}

ul.verbs>li {
	display: inline;
	font-size: 4em;
	list-style: none;
	color: #808080;
}

.verbs a {
	color: #808080;
}

a:hover {
	text-decoration: none;
}

.centered {
	text-align: center;
}

li[data-id='1'] {
	position: relative;
	left: -500px;
}

#resume:hover {
	color: #f00;
}

#portfolio:hover {
	color: #f80;
}

#teaching:hover {
	color: #fd0;
}

#playing:hover {
	color: #080;
}

#about:hover {
	color: #0044ff;
}

#contact:hover {
	color: #8f00ff;
}

.placard {
	width: 90%;
	position: relative;
	top: 50px;
}

#borges {
	color: #808080;
	font-size: 1.6em;
	border-left: 5px solid #d0d0d0;
	width: 100%;
	margin: auto;
}
