html {
	height: 100%;
}

body {
	min-height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #f5f4f0;
	color: #3c3c3c;
}

nav {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 0;
}

img.profile-pic {
	width: 33%;
	max-width: 350px;
	margin: 20px 5% 5% 5%;
	border-radius: 10%;
	float: right;
}

img.img-web-thumb {
	width: 25%;
	max-width: 200px;
	margin-bottom: 7%;
	margin-left: 7%;
	float: left;
	transform: rotate3d(0, 1, 0, 30deg);
	box-shadow: -20px 20px 30px;
}

.centered {
	text-align: center;
}

.navbar {
	background-color: transparent;
	padding-right: 10px;
	margin-bottom: 0;
}

a.navbar-brand {
	color: #3c3c3c;
	text-shadow: none;
}

.navbar-nav>li>a {
	color: #3c3c3c;
	text-shadow: none;
}

.icon-bar {
	background-color: #3c3c3c;
}

a:hover {
	transform: scale(1.1);
}

.navbar-brand:hover {
	color: #080;
}
	
#resume:hover {
	background-color: transparent;
	color: #f00;
}

#portfolio:hover {
	background-color: transparent;
	color: #8f00ff;
}

#contact:hover {
	background-color: transparent;
	color: #0044ff;
}

#login:hover {
	background-color: transparent;
	color: #f80;
}

.placard {
	width: 90%;
	position: relative;
	top: 50px;
}

#quote {
	color: #5f5f5f;
	font-size: 1.6em;
	border-left: 5px solid #d0d0d0;
	width: 100%;
	margin: auto;
}

#img-1 {
	margin-left: 0;
}
.perspective {
	perspective: 1200px;
}
